<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a routerLink="" class="home-button">My App</a></span>
      <span class="example-spacer"></span>

      <button mat-button routerLink="">Home</button>
      <span><a  mat-button routerLink="user" *ngIf='isAuthenticated'>User</a></span>
      <span><a  mat-button routerLink="products" *ngIf='isAuthenticated'>Products</a></span>
      <button mat-button routerLink="login" *ngIf='!isAuthenticated'(click)="goToLogin()">Login</button>
      <button mat-button routerLink="login" *ngIf='isAuthenticated' (click)="logOut()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>