<div class="user-container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
                <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
                <img mat-card-lg-image src="{{ user.image }}">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span>Id: </span>
                    <span>{{ user.id }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span>Email: </span>
                    <span>{{ user.email }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span>Gender: </span>
                    <span>{{ user.gender }}</span>
                </mat-list-item>
            </mat-list>
            <button mat-raised-button color="primary" (click)="getUserDetails()" *ngIf="!userDetails">Get
                details</button>
        </mat-card-content>

        <mat-card-header *ngIf="userDetails">
            <mat-card-subtitle>Additional information</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="userDetails">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span class="col">Maiden name: </span>
                    <span class="col">{{ userDetails.maidenName }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span>Age: </span>
                    <span>{{ userDetails.age }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span>Phone: </span>
                    <span>{{ userDetails.phone}}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span>Gender: </span>
                    <span>{{ user.gender }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>

    </mat-card>
</div>