<div class="form-container">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" formControlName="username">
              <mat-icon matSuffix>person</mat-icon>
              <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                <mat-error *ngIf="loginForm.get('username')?.errors?.['required']" class="error-message">Username is required.</mat-error>
                <mat-error *ngIf="loginForm.get('username')?.errors?.['minlength']" class="error-message">Username is of minimum 3 chars.</mat-error>
              </mat-error>
              </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Email" formControlName="password">
              <mat-icon matSuffix>password</mat-icon>
              <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <mat-error *ngIf="loginForm.get('password')?.errors?.['required']" class="error-message">Passoword is required.</mat-error>
                <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']" class="error-message">Passoword is of minimum 6 chars.</mat-error>
              </mat-error>
              </mat-form-field>
          </p>

          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Log in</button>
    </form>
  
</div>