.container{
    max-width: 500px;
}

input.ng-invalid.ng-touched{
    border: 1px solid;
    border-color: var(--bs-red);
    color: var(--bs-red);
}
    
.error-message{
    color: var(--bs-red);
    margin-bottom: .5rem;
}