<div class="main-page-container">
  <div class="col-md-6 p-lg-5 mx-auto my-5">
    <h1 class="display-3 fw-bold">Designed for engineers</h1>
    <h3 class="fw-normal text-muted mb-3">
      Build anything you want with Aperture
    </h3>
    <div class="button-wrap">
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block">
  </div>
</div>